In [1]:
import pandas as pd
from datetime import datetime as dt
import time
import os 
import numpy as np

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
tableau_data = '/Users/dante/Desktop/Class_Folder/Citi_Bikes/201908-citibike-tripdata.csv'
citi_bike_df = pd.read_csv(tableau_data)
citi_bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 00:00:00.000000393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,1970-01-01 00:00:00.000000627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1970-01-01 00:00:00.000001132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1970-01-01 00:00:00.000001780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1970-01-01 00:00:00.000001517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [3]:
# 2. Check the datatypes of your columns. 
citi_bike_df.dtypes

tripduration                object
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [4]:
# 3. Convert the 'tripduration' column to datetime datatype.
citi_bike_df['tripduration'] = pd.to_datetime(citi_bike_df['tripduration'], unit = 's')
citi_bike_df.head()

ValueError: non convertible value 1970-01-01 00:00:00.000000393 with the unit 's'

In [ ]:
# 4. Check the datatypes of your columns. 
citi_bike_df.dtypes

In [ ]:
# 5. Export the Dataframe as a new CSV file without the index.